@use 'variables' as var;

@mixin telefono {
  @media (min-width: var.$telefono) {
    // Inyecta todo lo que queramos en esa directiva
    @content;
  }
}

@mixin tablet {
  @media (min-width: var.$tablet) {
    // Inyecta todo lo que queramos en esa directiva
    @content;
  }
}

@mixin desktop {
  @media (min-width: var.$desktop) {
    // Inyecta todo lo que queramos en esa directiva
    @content;
  }
}

@mixin grid($columnas, $espaciado) {
  display: grid;
  grid-template-columns: repeat($columnas, 1fr);
  column-gap: $espaciado;
}

@mixin color {
  background-color: red;
}

@mixin bgcolor($color) {
  background-color: $color;
}