@use 'base/variables' as var;
@use 'base/mixins' as mixin;

.contenido-menu {
  background-image: url('../img/cafe.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
  aspect-ratio: 3 / 8;

  @include mixin.telefono { 
    aspect-ratio: 3 / 5;
  }

  @include mixin.tablet { 
    @include mixin.grid(2, var.$separacion);
    aspect-ratio: 16 / 6;
    background-size: 40%;
    background-position: bottom right;
  }

  .texto {
    p {
      font-size: 2rem;
    }
  }
}