@use 'base/variables' as var;
@use 'base/mixins' as mixin;

.header {
  padding: 5rem 0;
  position: relative;

  @include mixin.tablet { 
    min-height: 70rem;
  }

  @include mixin.telefono {
    padding: 4rem;
  }

  @include mixin.tablet {
    padding: 3rem;
  }

  @include mixin.desktop {
    padding: 2rem;
  }

  &::before {
    content: '';
    background-color: var.$negro;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.6;
  }

  // This is the important class with position relative that
  // will position before the header::before
  .contenido-header {
    position: relative;

    h1 {
      text-align: center;
      color: var.$blanco;
      text-transform: uppercase;
      margin-top: 5rem;

      @include mixin.tablet { 
        margin-top: 10rem;
      }
    }
  }
}

.header-inicio {
  background-image: url('../img/header_inicio.jpg');
}
